<button id="menutrigger"> {{name}} </button>

<div id="usermenu">
    <img id="thumbnail" src="jennannonacouch.png">
    <button id="menucloser"> X </button>
    <li> {{name}}
    <li> {{email}}
    <li> {{city}}
    <li> {{age}}
    <li> {{message}}
</div>


<script src = "menu.js"></script>
